---
- name: Configure MGRE Tunnel and NHRP between HQ, YGN and MDY
  hosts: routers
  gather_facts: no
  connection: network_cli

  vars:
    tunnel_info:
      HQ:
        tunnel_id: 0
        tunnel_source: GigabitEthernet0/1
        tunnel_ip: 10.10.10.10
        tunnel_mask: 255.255.255.0
        mtu: 1400
        tcp_mss: 1360
        tunnel_mode: gre multipoint
        tunnel_key: 2
        nhrp_network_id: 1
        nhrp_auth: dmvpn123
        is_hub: true
      YGN:
        tunnel_id: 0
        tunnel_source: GigabitEthernet0/1
        tunnel_ip: 10.10.10.11
        tunnel_mask: 255.255.255.0
        mtu: 1400
        tcp_mss: 1360
        tunnel_mode: gre multipoint
        tunnel_key: 2
        nhrp_network_id: 1
        nhrp_auth: dmvpn123
        nhrp_holdtime: 60              
        nhrp_registration_timeout: 30   
        hub_tunnel_ip: 10.10.10.10
        hub_public_ip: 100.100.10.1
        is_hub: false
      MDY:
        tunnel_id: 0
        tunnel_source: GigabitEthernet0/1
        tunnel_ip: 10.10.10.12
        tunnel_mask: 255.255.255.0
        mtu: 1400
        tcp_mss: 1360
        tunnel_mode: gre multipoint
        tunnel_key: 2
        nhrp_network_id: 1
        nhrp_auth: dmvpn123
        nhrp_holdtime: 60              
        nhrp_registration_timeout: 30  
        hub_tunnel_ip: 10.10.10.10
        hub_public_ip: 100.100.10.1
        is_hub: false

  tasks:
    - name: Create MGRE Tunnel interface
      ios_config:
        lines:
          - interface tunnel{{ tunnel_info[inventory_hostname].tunnel_id }}
          - ip address {{ tunnel_info[inventory_hostname].tunnel_ip }} {{ tunnel_info[inventory_hostname].tunnel_mask }}
          - tunnel source {{ tunnel_info[inventory_hostname].tunnel_source }}
          - tunnel mode {{ tunnel_info[inventory_hostname].tunnel_mode }}
          - tunnel key {{ tunnel_info[inventory_hostname].tunnel_key }}
          - ip mtu {{ tunnel_info[inventory_hostname].mtu }}
          - ip tcp adjust-mss {{ tunnel_info[inventory_hostname].tcp_mss }}
          - no shutdown

    - name: Configure NHRP on Hub (HQ)
      ios_config:
        lines:
          - interface tunnel{{ tunnel_info[inventory_hostname].tunnel_id }}
          - ip nhrp network-id {{ tunnel_info[inventory_hostname].nhrp_network_id }}
          - ip nhrp authentication {{ tunnel_info[inventory_hostname].nhrp_auth }}
          - ip nhrp map multicast dynamic
          - ip nhrp redirect     # for phase 3
          - no ip split-horizon eigrp 100
          #- no ip next-hop-self eigrp 100 # for phase 2
      when: tunnel_info[inventory_hostname].is_hub == true

    - name: Configure NHRP on Spokes (YGN and MDY)
      ios_config:
        lines:
          - interface tunnel{{ tunnel_info[inventory_hostname].tunnel_id }}
          - ip nhrp network-id {{ tunnel_info[inventory_hostname].nhrp_network_id }}
          - ip nhrp authentication {{ tunnel_info[inventory_hostname].nhrp_auth }}
          - ip nhrp holdtime {{ tunnel_info[inventory_hostname].nhrp_holdtime }}
          - ip nhrp registration timeout {{ tunnel_info[inventory_hostname].nhrp_registration_timeout }}
          - ip nhrp map {{ tunnel_info[inventory_hostname].hub_tunnel_ip }} {{ tunnel_info[inventory_hostname].hub_public_ip }}
          - ip nhrp map multicast {{ tunnel_info[inventory_hostname].hub_public_ip }}
          - ip nhrp nhs {{ tunnel_info[inventory_hostname].hub_tunnel_ip }}
          - ip nhrp shortcut # for phase 3
      when: tunnel_info[inventory_hostname].is_hub == false

    - name: Verify MGRE Tunnel and NHRP status
      ios_command:
        commands:
          - show ip interface brief | include Tunnel
          - show interface tunnel{{ tunnel_info[inventory_hostname].tunnel_id }}
          - show ip nhrp
          - show ip nhrp traffic
          - show ip nhrp summary
      register: output

    - name: Display Tunnel and NHRP status
      debug:
        var: output.stdout_lines

    #- name: Save configuration
    #  ios_config:
    #    save_when: modified
    #  when: ansible_network_os == 'ios'