---
- name: Configure Router Interfaces
  hosts: routers
  gather_facts: no

  tasks:
    - name: Configure router interfaces
      cisco.ios.ios_interfaces:
        config:
          - name: GigabitEthernet0/0.40
            description: "YELLOW_VLAN"
            enabled: true
            ipv4:
              - address: 192.168.40.1/24
            encapsulation:
              dot1Q: 40
          - name: GigabitEthernet0/0.50
            description: "ORANGE_VLAN"
            enabled: true
            ipv4:
              - address: 192.168.50.1/24
            encapsulation:
              dot1Q: 50
        state: merged

    - name: Show IP interfaces brief
      cisco.ios.ios_command:
        commands:
          - show ip interface brief
      register: ip_intf
      
    - name: Display interface status
      debug:
        msg: "{{ ip_intf.stdout_lines }}"